<template>
    <v-app id="example-2">
        <v-navigation-drawer persistent light :mini-variant.sync="mini" v-model="drawer">
            <v-list class="pa-0">
                <v-list-item>
                    <v-list-tile avatar tag="div">
                        <v-list-tile-avatar>
                            <!-- <img src="https://randomuser.me/api/portraits/men/85.jpg"/> -->
                            <img src="/assets/img/featurefix.png"/>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>MASTUQUL</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-btn icon @click.native.stop="mini = !mini">
                                <v-icon>chevron_left</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list-item>
            </v-list>
            <v-list class="pt-0" dense>
                <v-divider></v-divider>
                <v-list-item v-for="item in items" :key="item">
                    <router-link :to="item.link">
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </router-link>
                </v-list-item>
                <v-list-item>
                    <!-- <router-link to="auth/logout"> -->
                    <v-list-tile @click.native="logout">
                        <v-list-tile-action>
                            <v-icon>exit_to_app</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Keluar</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <!-- </router-link> -->
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar fixed class="cyan darken-3" light>
            <v-toolbar-side-icon light @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Admin Panel</v-toolbar-title>
        </v-toolbar>
        <main>
            <v-container fluid>
                <!-- <div class="title">Click on sidebar to re-open.
                </div> -->
                <router-view></router-view>

            </v-container>
        </main>
        <v-footer class="cyan darken-3">
            <v-spacer></v-spacer>
            <div>MASTUQUL © {{ new Date().getFullYear() }}</div>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        data () {
            return {
                drawer: true,
                items: [
                    {title: 'Grafik', icon: 'show_chart', link: '/chart'},
                    {title: 'Pengaturan', icon: 'settings', link: '/setting'},
                ],
                mini: false,
                right: null
            }
        },
        methods: {
            logout(params){
                window.location.href = '/auth/logout';
            }
        }
    }
</script>

<style lang="css">
    a {
        text-decoration: none;
    }
</style>
