<template>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="/assets/img/featurefix.png"/>            
            <p id="profile-name" class="profile-name-card"></p>


            <!-- Form sign -->
            <form class="form-signin" @submit.prevent="validateBeforeSubmit">
                <span id="reauth-email" class="reauth-email"></span>

                <div :class="{'form-group': true, 'has-error': errors.has('email') }">
                    <label class="control-label" for="email">Email</label>
                    <input type="text" name="email" v-model="email" class="form-control" id="email"
                           v-validate="'required|email'" autofocus>
                    <div style="color:#A94442">
                        <i v-show="errors.has('email')" class="fa fa-warning"></i>
                        <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email')
                            }}</span>
                    </div>

                </div>


                <div :class="{'form-group': true, 'has-error': errors.has('sandi') }">
                    <label class="control-label" for="sandi">Sandi</label>
                    <input type="password" name="sandi" v-model="sandi" class="form-control" id="sandi"
                           v-validate="'required'">
                    <div style="color:#A94442">
                        <i v-show="errors.has('sandi')" class="fa fa-warning"></i>
                        <span v-show="errors.has('sandi')" class="help is-danger">{{ errors.first('sandi')
                            }}</span>
                    </div>
                </div>

                <!-- <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div> -->

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
                <div v-if="loading" class="fa fa-spinner fa-spin"></div>
                <div v-else>Masuk</div>
                </button>
            </form>

            <!-- End Form sign -->
            <br>
            <a href="#" class="forgot-password" @click="eventForgotPassword">
                Lupa kata sandi?
            </a>            
        </div><!-- /card-container -->
    </div><!-- /container -->
</template>

<style>

    body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
        font-family: 'Raleway';
    }

    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
    }

    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }

    /*
     * Card component
     */
    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus {
        color: rgb(12, 97, 33);
    }
</style>

<script>
    export default {
        name: 'login-form',
        data: () => ({
            email: '',
            sandi: '',
            errorLogin: 1,
            loading: false,
        }),
        methods: {
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    // eslint-disable-next-line                    
                    if (result) {
                        // alert('From Submitted!');
                        this.authentication();
                    }
                }).catch(() => {
                    // eslint-disable-next-line
                    alert('Correct them errors!');
                });
            },

            authentication(){
                const data = {
                    'email': this.email,
                    'password': this.sandi
                }                
                this.loading = true;
                if (this.errorLogin <= 5) {
                    axios.post('/auth/login', data)
                        .then(response => {
                            // console.log(response.data);                            
                            if (response.data.success == true) {
                                window.location.href = response.data.redirect;
                            } else {
                                this.loading = false;
                                this.errorLogin += 1;
                                // console.log(this.errorLogin);
                                this.$toasted.show(response.data.notification, {
                                    duration: 3000,
                                    position: 'top-center'
                                })
                            }

                        })
                        .catch(error => {
                            this.loading = false;                                                    
                            this.$toasted.show(error, {
                                duration: 3000,
                                position: 'top-center'
                            })
                            
                        });
                } else {
                    this.loading = true;
                    this.$swal('Pemberitahuan', 'Gunakan fitur lupa password', 'warning');

                }                

            },
            eventForgotPassword(){
                this.$swal({
                    title: 'Atur Ulang Kata Sandi',
                    input: 'email',
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                    inputPlaceholder: 'Email anda',
                    preConfirm: function (email) {
                        return new Promise(function (resolve, reject) {
                            setTimeout(function () {
                                axios.post('/login/resetpassword', {'email': email})
                                    .then(response => {
                                        // console.log(response.data);
                                        if (response.data.Data == null) {
                                            reject('Email tidak terdaftar')
                                        } else {
                                            resolve()
                                        }

                                    })
                                    .catch(response => {
                                        console.log(response.data);
                                    });

                            }, 100)
                        })
                    },
                    allowOutsideClick: false
                }).then(email => {
                    this.$swal({
                        type: 'success',
                        title: 'Buka email untuk konfirmasi atur ulang kata sandi',
                        html: 'email: ' + email
                    })
                },function (dismiss) {
                    if (dismiss === 'cancel' || dismiss === 'esc') {}
                })
            }
        }
    };
</script>
