<template>
	<div>
		<canvas id="myChart" width="100%" height="400px"></canvas>
	</div>

</template>
<script>

export default {	
	mounted(){		
		axios.get('/admin/get/chartdata')
            .then(response => {
                this.drawChart(response.data.amonia, response.data.waktu);
            })
            .catch(error => {
                console.log(error);
            });        
	},	
	methods: {
		drawChart(amonia, waktu){
			let ctx = document.getElementById("myChart");
			window.myChart = new Chart(ctx, {
			    type: 'line',
			    data: {
			        labels: waktu,
			        datasets: [{
			            label: 'Amonia (ppm)',
			            data: amonia,
			        }]
			    },
			    options: {
			        responsive: true,
                    maintainAspectRatio: false,
                    backgroundColor: '#f87979',
                    scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});
		}
	}
}	



</script>