<template>
    <div v-if="loading" style="padding-top:180px; text-align:center;">
        <vue-loader :loading="loading" :color="color" :size="size"></vue-loader>
    </div>
    <div v-else>
        <!-- PC VIEW -->
        <v-layout row wrap v-if="mobile == 0">
            <v-flex xs4>
                <v-card class="blue-grey lighten-4">                    
                    <v-card-text>
                        <v-card-text>Suhu: <h2>{{ suhu }}&#x2103;</h2></v-card-text>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs4>
                <v-card class="blue-grey lighten-4">
                    <v-card-text>
                        <v-card-text>Kelembaban: <h2>{{ kelembaban }}%</h2></v-card-text>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs4>
                <v-card class="blue-grey lighten-4">
                    <v-card-text>
                        <v-card-text>Rata-rata Amonia: <h2>{{ rataAmonia }}ppm</h2></v-card-text>
                    </v-card-text>
                </v-card>
            </v-flex>
            <div style="padding-bottom:200px"></div>

            <v-flex xs12>
                <v-card>                    
                    <line-chart></line-chart>
                </v-card>

                <!-- <v-btn round @click.native="sync" v-tooltip:right="{ html: 'Update Manual' }" class="elevation-4">Update</v-btn> -->
            </v-flex>
        </v-layout>


        <!-- MOBILE VIEW -->
        <v-layout row wrap v-else>
            <v-flex xs12>
                <v-card class="blue-grey lighten-4" height="80px">
                    <v-card-text>Suhu: <h4>{{ suhu }}&#x2103;</h4></v-card-text>
                </v-card>
                <v-card class="blue-grey lighten-4" height="80px">
                    <v-card-text>Kelembaban: <h4>{{ kelembaban }}%</h4></v-card-text>
                </v-card>
                <v-card class="blue-grey lighten-4" height="80px">
                    <v-card-text>Rata-rata Amonia: <h4>{{ rataAmonia }}ppm</h4></v-card-text>
                </v-card>
            </v-flex>

            <div style="margin-bottom:260px"></div>

            <v-flex xs12>
                <v-card>
                    <line-chart></line-chart>
                </v-card>
            </v-flex>
        </v-layout>

    </div>

</template>

<style>
    #example-1 {
        color: #fff;
        text-align: center;
    }

    #example-1 .flex {
        margin-bottom: 16px;
    }
</style>


<script>    
    import LineChart from '../Plugin/LineChart'    

    export default {        
        data(){
            return {
                suhu: '',
                kelembaban: '',
                rataAmonia: '',
                mobile: 0,
                datacollection: null,
                loading: false,
                color: '#00838F',
                size: '150px',
            }
        },
        components:{
            LineChart,            
        },
        created(){
            this.loading = true;
            Echo.channel('channelUpdateChart')
                .listen('UpdateChartPusher', (e) => {
                    this.sync();
                });

            axios.get('/admin/get/chartdata')
                .then(response => {
                    this.suhu = _.last(response.data.suhu)
                    this.rataAmonia = this.average(response.data.amonia);
                    this.kelembaban = _.last(response.data.kelembaban);
                    this.loading = false;
                })
                .catch(error => {
                    console.log(error);
                });
            if (window.innerWidth < 720) {
                this.mobile = 1
                this.size = '80px'
            }
            


        },
        methods: {
            average(listParams){
                let Sum = 0
                let average
                for (var x = 0; x < listParams.length; x++) {
                    Sum = Sum + parseFloat(listParams[x])
                }
                average = Sum / listParams.length
                return average.toFixed(2)
            },
            sync(){
                axios.get('/admin/get/chartdata')
                .then(response => {
                    this.suhu = _.last(response.data.suhu)
                    this.rataAmonia = this.average(response.data.amonia)
                    this.kelembaban = _.last(response.data.kelembaban)
                    
                    this.UpdateChart(myChart, response.data.amonia, response.data.waktu)
                    // console.log(myChart);

                })
                .catch(error => {
                    console.log(error);
                });
            },
            UpdateChart(chart, amonia, waktu) {
                chart.data.labels = waktu;
                chart.data.datasets.forEach((dataset) => {
                    dataset.data = amonia;
                });                
                chart.update();
                
                
            }        
        }
    }


</script>