<template>
    <div v-if="loading" style="padding-top:180px; text-align:center;">
        <vue-loader :loading="loading" :color="color" :size="size"></vue-loader>
    </div>
    <div v-else>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card class="grey lighten-4 elevation-0">
                    <v-card-text>
                        <p class="text-xs-center">Perbarui Nomor Penerima SMS pemberitahuan</p>
                        <!-- <input-tag :on-change="tes" :tags="tagsArray"></input-tag> -->
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Nomer Sekarang</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field
                                            name="oldnumber"
                                            prepend-icon="phone"
                                            :value="oldnumber"
                                            disabled
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Nomer Baru</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field v-model="newnumber"
                                                  name="newnumber"
                                                  prepend-icon="phone"
                                                  label="Nomer baru"
                                                  hint="tidak perlu menggunaan +62"
                                                  id="newnumber"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <p class="text-xs-center">
                            <v-btn round @click.native="updateNumber" class="elevation-4">Simpan</v-btn>
                        </p>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <br><br>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card class="grey lighten-4 elevation-0">
                    <v-card-text>
                        <div class="text-xs-center">                            
                            Ganti Kata Sandi
                        </div>
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Kata Sandi Sekarang</v-subheader>
                                </v-flex>
                                <v-flex xs8 sm7>

                                    <v-text-field
                                            name="currentPassword"
                                            label="******"
                                            prepend-icon="lock_open"
                                            v-model="currentPassword"
                                            min="4"
                                            :append-icon="currentPasswordEye ? 'visibility_off' : 'visibility'"
                                            :append-icon-cb="function(params){(currentPasswordEye = !currentPasswordEye);}"
                                            :type="currentPasswordEye ? 'password' : 'text'"
                                    ></v-text-field>


                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Kata Sandi Baru</v-subheader>
                                </v-flex>
                                <v-flex xs8 sm7>

                                    <v-text-field
                                            name="newPassword"                                            
                                            label="Kata sandi"
                                            prepend-icon="lock"
                                            hint="Minimal 4 karakter"
                                            v-model="newPassword"
                                            min="4"
                                            counter
                                            :append-icon="newPasswordEye ? 'visibility_off' : 'visibility'"
                                            :append-icon-cb="function(params){(newPasswordEye = !newPasswordEye);}"
                                            :type="newPasswordEye ? 'password' : 'text'"
                                    ></v-text-field>


                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader>Konfirmasi</v-subheader>
                                </v-flex>
                                <v-flex xs8 sm7>

                                    <v-text-field
                                            name="confNewPassword"
                                            prepend-icon="lock"                                  
                                            label="Konfirmasi"
                                            hint="Ulangi Kata Sandi Baru"
                                            v-model="confNewPassword"
                                            min="4"
                                            counter
                                            :append-icon="confNewPasswordEye ? 'visibility_off' : 'visibility'"
                                            :append-icon-cb="function(params){(confNewPasswordEye = !confNewPasswordEye);}"
                                            :type="confNewPasswordEye ? 'password' : 'text'"
                                    ></v-text-field>


                                </v-flex>
                            </v-layout>
                        </v-container>
                        <p class="text-xs-center">
                            <v-btn round @click.native="updatePassword" class="elevation-4">Simpan</v-btn>
                        </p>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<style>
    #example-1 {
        color: #fff;
        text-align: center;
    }

    #example-1 .flex {
        margin-bottom: 16px;
    }
</style>

<script>
    // import InputTag from 'vue-input-tag'    

    export default {
        data(){
            return {
                tagsArray: [],
                oldnumber: '',
                newnumber: '',
                currentPassword: '',
                currentPasswordEye: true,
                newPassword: '',
                newPasswordEye: true,
                confNewPassword: '',
                confNewPasswordEye: true,
                loading: false,
                color: '#00838F',
                size: '150px',
            }
        },
        components:{
            
        },
        created(){
            this.loading = true;
            axios.get('/admin/get/numberinfo')
                .then(response => {
                    this.oldnumber = response.data.penerima
                    this.loading = false;
                })
                .catch(error => {
                    console.log(error);
                });
            if (window.innerWidth < 720) {                
                this.size = '80px'
            }
        },
        methods: {
            // tes(params){
            //     console.log('aww');
            // },
            updateNumber(params){
                if (this.newnumber.match(/^\d+$/) && this.newnumber.length >= 9 && this.newnumber.substr(0, 2) == '08') {
                    if (this.oldnumber == this.newnumber) {
                        return this.$toasted.error('Nomer tidak dapat sama', {
                            duration: 3000,
                            position: 'top-center'
                        })
                    }

                    const data = {
                        'penerima': this.newnumber,
                    }
                    axios.post('/admin/post/updatenumber', data)
                        .then(response => {
                            if (response.data.success == true) {
                                this.$swal('Berhasil', this.oldnumber + ' -> ' + this.newnumber, 'success')
                                this.oldnumber = this.newnumber
                                this.newnumber = ''
                            } else {
                                this.$toasted.show('something error', {
                                    duration: 3000,
                                    position: 'top-center'
                                })
                            }

                        })
                        .catch(response => {
                            this.$toasted.error(response, {
                                duration: 3000,
                                position: 'top-center'
                            })
                            // console.log(response.data.notification);
                        });
                } else {
                    this.$toasted.error('Nomer telepone tidak valid', {
                        duration: 3000,
                        position: 'top-center'
                    })
                }


            },
            updatePassword(){
                if (this.currentPassword == '' || this.currentPassword.length < 4) {
                    return this.$toasted.error('Kata sandi sekarang salah', {
                        duration: 3000,
                        position: 'top-center'
                    })
                }

                else if (this.newPassword.length < 4) {
                    return this.$toasted.error('Kata sandi baru minimal 4 karakter', {
                        duration: 3000,
                        position: 'top-center'
                    })
                }
                else if (this.newPassword != this.confNewPassword) {
                    return this.$toasted.error('Kata sandi baru dan konfirmasi kata sandi tidak sama', {
                        duration: 3000,
                        position: 'top-center'
                    })
                }

                axios.post('/admin/post/updatepassword', {
                    'currentPassword': this.currentPassword,
                    'newPassword': this.newPassword
                })
                    .then(response => {
                        if (response.data.success == true) {
                            this.$swal('Berhasil', 'Kata sandi diperbaharui', 'success')
                            this.currentPassword = ''
                            this.newPassword = ''
                            this.confNewPassword = ''
                            this.currentPasswordEye = true
                            this.newPasswordEye = true
                            this.confNewPasswordEye = true

                        } else {
                            this.$toasted.error('Kata sandi sekarang salah', {
                                duration: 3000,
                                position: 'top-center'
                            })
                        }

                    })
                    .catch(response => {
                        this.$toasted.error(response, {
                            duration: 3000,
                            position: 'top-center'
                        })
                        // console.log(response.data.notification);
                    });
            }
        }
    }

</script>